#focus {
  position: relative;
  padding: 1em;

  background-image: var(--focus-background-image);
  background-size: cover;
  color: var(--front-color);

  display: grid;
  grid-template-areas: 'header' 'timer' 'sfx' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;

  @media (min-width: @breakpointDesktop) {
    grid-template-areas: 'header header' 'timer sfx' 'footer footer';
    grid-template-columns: 1fr 1fr;
  }

  min-height: 100vh;

  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .logo-container {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .logo-primary {
        font-family: 'Zeyada', cursive;
        font-size: 3em;

        @media (min-width: @breakpointTablet) {
          font-size: 5em;
        }
      }

      .logo-secondary {
        margin-top: -20px;

        @media (max-width: @breakpointTablet - 1) {
          display: none;
        }

        a {
          color: white;
        }
      }
    }
  }

  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
  }

  .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;

    .control {
      width: 20px;
      @media (min-width: @breakpointTablet) {
        width: 30px;
      }

      path {
        fill: var(--front-color);
      }
    }
  }

  button {
    background: none;
    border: 2px solid var(--front-color);
    padding: 0.5em;
    border-radius: 15px;
    min-width: 2em;
    color: var(--front-color);
    cursor: pointer;
  }
}

#focus:fullscreen .control-fullscreen {
  display: none;
}
