#focus {
  .sfx {
    grid-area: sfx;
    justify-self: center;
    align-self: center;
    padding: 1em;

    max-width: 500px;

    .sfx-controls {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1em;
    }


    .sfx-toggles {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1em;

      .toggle {
        position: relative;
        width: 100px;
        height: 110px;

        border: 2px solid var(--front-transparent-color);
        border-radius: 10px;
        padding: 10px;

        .toggle-icon {
          //height: 60px;
          text-align: center;
          font-size: 3em;
          color: var(--front-transparent-color);

          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: transform ease 0.5s;

          //svg {
          //  height: 100%;
          //  path {
          //    fill: var(--front-transparent-color);
          //  }
          //}
        }

        input {
          display: none;
          position: absolute;
          bottom: 5px;
          left: 5px;
          right: 5px;
          width: auto;
        }

        &.on {
          border-color: var(--front-color);
          box-shadow: 0 0 10px var(--front-color);

          .toggle-icon {
            transform: translate(-50%, -70%);
            color: var(--front-color);
            //svg path {
            //  fill: var(--front-color);
            //}
          }

          input {
            display: block;
          }
        }
      }
    }
  }
}
