#focus {
  .timer {
    grid-area: timer;
    justify-self: center;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;


    .clock {
      font-size: 6em;
      font-weight: 600;
      text-align: center;
    }

    .duration-controls {
      display: flex;
      justify-content: center;
      gap: 0.5em;

      .control {
        min-width: 3em;
      }

      @media (max-width: @breakpointTablet - 1) {
        .control:nth-child(2),.control:nth-child(3),.control:nth-child(7) {
          display: none;
        }
      }
    }

    .timer-controls {
      display: flex;
      flex-direction: row;
      justify-content: center;
      gap: 1em;

      .control-start, .control-pause, .control-resume {
        width: 7em;
        background-color: var(--front-color);
        color: black;
      }
    }
  }

  .timer[data-state="stopped"] {
    .timer-controls {
      .control-pause, .control-resume {
        display: none;
      }
    }
  }

  .timer[data-state="ticking"] {
    .timer-controls {
      .control-start, .control-resume {
        display: none;
      }
    }

    .duration-controls {
      visibility: hidden;
    }

    .clock {
      cursor: pointer;
    }
  }

  .timer[data-state="paused"] {
    .timer-controls {
      .control-start, .control-pause {
        display: none;
      }
    }
  }

  .goal textarea {
    width: 100%;
    height: 3em;
    border: none;
    background: none;
    color: var(--front-color);
    outline: none;
    text-align: center;

    font-size: 1.2em;

    resize: vertical;

    &::placeholder {
      color: var(--front-transparent-color);
    }
  }

  .timer[data-state="ticking"] .goal textarea:placeholder-shown::placeholder {
    color: var(--danger-color);
  }
}
